# Core
torch==2.8.0
transformers
trl==0.11.0                  # last version with .step() method
peft
bitsandbytes         # 4-bit / 8-bit quantisation on CUDA
accelerate
 
# Optional logging
wandb  
